*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 40px;
    width: 40px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4dJnTniYbwmtGJ3cyPX-AaLOPGtXWDkvdJA&s');
    background-size: contain;
    background-repeat:no-repeat ;
    margin-bottom: 10px;
}
header{
    
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
   
    padding: 10px;
    border-radius: 13px;
    box-shadow: 5px 5px 4px #908d8d;
    border-bottom: 1px solid white;


    
}
.nav:hover{
   
    border-bottom: 1px solid red;

}


.searchbox{
    display: flex;
    gap: 10px;
    height:23px;
    width: 30%;
    background-color: #e8e5e5;
    
}
.in{
    width:70%;
   flex-grow: 1;
   background-color: #e8e5e5;
   border: 0;
}
.bannerimg{
    margin: 20px 0;
    width: 100%;
   
}
.categoryhead{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;

}
.categoryitem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
